<form class='mt-4-none-xs' onSubmit={handleSubmit}>
  <div class="form-group mb-3" controlId="formBasicEmail">
    <label class="text-muted">Login</label>
    <input class="form-control mt-2" type="email" name="email" placeholder="e-mail ou CPF" />
  </div>
  <div class="mb-3" controlId="formBasicPassword">
    <label class="text-muted">Senha</label>
    <input class="form-control mt-2" type="password" name="password" placeholder="digite a senha" />
  </div>
  <div class='d-lg-none d-xl-none'>
    <h6 class='esqueci-senha blue-higlight'>Esqueci minha senha</h6>
  </div>
  <a href="https://cerc-2.gitbook.io/cerc-docs-sacador/ZYMORO4tSIVO0yh1ZwAQ/">
    <button class='button text-light' variant="primary" type="submit">
      Entrar
    </button>
  </a>
  <div class="form-text text-muted d-none d-lg-block">
    Mais informações, entre em contato com: <b class='blue-higlight'>info@cerc.inf.br</b>
  </div>
</form>