<div class="App">
  <div class='container d-none d-lg-block'>
    <div class='row h-100 align-items-center mt-4'>
      <div class="col-sm-6 text-light p-4">
        <div class='saiba-mais-div'>
          <img src='./assets/woman_docs.png' class="Image woman-img" />
          <div>
            <h2 class='text-center-mobile'><b>Bem vindo ao  <br />Portal cerc.docs!</b></h2>
            <h6 class='saiba-mais-txt text-center-mobile'>O acesso a esta plataforma é restrito a usuários habilitados por agentes previamentes cadastrados e homologados pela CERC.</h6>
            <div class='text-center-mobile'>
              <Button class='button-saber-mais'>Saber mais</Button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class='card'>
          <img src='./assets/LOGO_CERC.DOCS.png' class="p-4 logo mx-auto d-block Image"/>
          <div class=''>
            <h4 class='font-weight-bold'>Para acessar o conteúdo, <br />
            <b class='blue-higlight'>faça o login abaixo:</b></h4>
          </div>
          <login-component></login-component>
        </div>
      </div>
    </div>
  </div> 
  <div class='container d-lg-none d-xl-none'>
    <div class='saiba-mais-div'>
      <div>
        <h4 class='text-center-mobile m-4'>Bem vindo ao  <br />Portal cerc.docs!</h4>
      </div>
    </div>
    <div class='card'>
      <img src='./assets/LOGO_CERC.DOCS.png' class="p-4 pb-2 logo mx-auto d-block Image"/>
      <div class='text-center'>
        <h4 class='font-weight-bold'>Para acessar o conteúdo, <br />
        <b class='blue-higlight'>faça o login abaixo:</b></h4>
      </div>
      <login-component></login-component>
    </div>
    <h6 class='saiba-mais-txt text-center-mobile'>O acesso a esta plataforma é restrito a usuários habilitados por agentes previamentes cadastrados e homologados pela CERC.</h6>
    <div class='text-center-mobile'>
      <button class='button button-saber-mais'>Saber mais</button>
    </div>
    <h6 class='saiba-mais-txt text-center-mobile'>Mais informações, entre em contato com: info@cerc.inf.br</h6>
  </div> 
</div>